.form-rental-container {
  flex: 0 0 auto;
  display: flex;
  padding: var(--dl-space-space-quadruple);
  position: relative;
  align-self: center;
  align-items: center;
  border-color: var(--dl-color-primary-500);
  border-style: dotted;
  border-width: 0.25rem;
  border-radius: 48px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-sagegreen);
}
.form-rental-text {
  color: var(--dl-color-primary-500);
}
.form-rental-text1 {
  color: var(--dl-color-primary-sagegreen);
}
.form-rental-select {
  width: 100%;
  margin: var(--dl-space-space-unit);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.65);
  border-color: var(--dl-color-primary-100);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
}
.form-rental-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}


@media(max-width: 1600px) {
  .form-rental-text1 {
    color: var(--dl-color-primary-sagegreen);
  }
}
@media(max-width: 1200px) {
  .form-rental-text {
    color: var(--dl-color-primary-100);
  }
  .form-rental-text1 {
    color: var(--dl-color-primary-100);
    align-self: flex-start;
  }
}
@media(max-width: 991px) {
  .form-rental-root-class-name2 {
    background-color: var(--dl-color-primary-sagegreen);
  }
}
@media(max-width: 479px) {
  .form-rental-container {
    width: 90%;
    height: auto;
    border-color: var(--dl-color-primary-500);
    background-color: var(--dl-color-primary-100);
  }
  .form-rental-text {
    color: var(--dl-color-primary-500);
  }
  .form-rental-text1 {
    color: var(--dl-color-primary-500);
    align-self: center;
  }
  .form-rental-select {
    width: 90%;
  }
  .form-rental-root-class-name {
    width: 90%;
  }
}
